{% extends "base.html" %}

{% block content %}
<h2>{{ title or 'Einloggen' }}</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary"><i class="bi bi-box-arrow-in-right"></i> Einloggen</button>
    </div>
</form>
{% endblock %}